.select {
    background-color: gray;
    color: white;
    margin-right: 10px;
    appearance: none;
    padding: 2px 5px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

.sort {
    display: flex;
    align-items: center;
    justify-content: center;
}
