.table {
  width: 100%;
  margin-bottom: 20px;
  border-collapse: collapse; 

  th {
    font-weight: bold;
    padding: 5px;
    color: gray;
  }

  td {
    border-bottom: 10px solid white;
    padding: 20px;
  }
}


